.sign-up-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.sign-up-sign-up {
  width: 100%;
  height: 1561px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-bg);
}
.sign-up-top-header {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-button);
}
.sign-up-frame746 {
  gap: 231px;
  top: 12px;
  left: 445px;
  width: 859px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.sign-up-frame555 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.sign-up-text {
  color: var(--dl-color-default-text);
  width: 474px;
  height: auto;
  text-align: left;
  line-height: 21px;
}
.sign-up-text02 {
  color: var(--dl-color-default-text);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: underline;
}
.sign-up-frame549 {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up-text04 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 21px;
}
.sign-up-drop-down {
  width: 24px;
  height: 24px;
}
.sign-up-header {
  gap: 210px;
  top: 86px;
  left: 135px;
  width: 1170px;
  display: flex;
  position: absolute;
  align-items: center;
}
.sign-up-frame556 {
  gap: 232px;
  display: flex;
  align-items: flex-start;
}
.sign-up-logo {
  width: 118px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-text06 {
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.sign-up-frame554 {
  gap: 48px;
  display: flex;
  align-items: flex-start;
}
.sign-up-header1 {
  width: 48px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-text08 {
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 24px;
}
.sign-up-header2 {
  width: 66px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-text10 {
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 24px;
}
.sign-up-header3 {
  width: 48px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-text12 {
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 24px;
}
.sign-up-header4 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-up-text14 {
  color: var(--dl-color-default-text2);
  height: auto;
  text-align: center;
  line-height: 24px;
}
.sign-up-under-line {
  width: 61px;
  height: 0px;
  display: flex;
  opacity: 0.50;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-line1 {
  top: 0px;
  left: 0px;
  width: 61px;
  height: 1px;
  position: absolute;
}
.sign-up-frame552 {
  gap: 24px;
  display: flex;
  align-items: center;
}
.sign-up-search-component-set {
  gap: 10px;
  display: flex;
  padding: 7px 12px 7px 20px;
  align-items: center;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-default-secondary);
}
.sign-up-frame550 {
  gap: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up-text16 {
  color: var(--dl-color-default-text2);
  height: auto;
  opacity: 0.50;
  text-align: left;
  line-height: 18px;
}
.sign-up-component2 {
  width: 24px;
  height: 24px;
}
.sign-up-line3 {
  top: 140px;
  left: 0px;
  width: 1440px;
  height: 1.7053025658242404e-13px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-line31 {
  top: 0px;
  left: 1440px;
  width: 1440px;
  height: 1px;
  opacity: 0.30;
  position: absolute;
}
.sign-up-frame760 {
  gap: 129px;
  top: 200px;
  left: 0px;
  width: 1305px;
  display: flex;
  position: absolute;
  align-items: center;
}
.sign-up-side-image {
  width: 805px;
  height: 781px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 0 4px 4px 0;
  background-color: rgba(203, 228, 232, 1);
}
.sign-up-dlbeatsnoop1 {
  top: 75px;
  left: -8px;
  width: 919px;
  height: 706px;
  position: absolute;
}
.sign-up-frame759 {
  gap: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-frame753 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-text18 {
  color: var(--dl-color-default-text2);
  height: auto;
  text-align: left;
  line-height: 30px;
}
.sign-up-text20 {
  color: var(--dl-color-default-text2);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sign-up-frame758 {
  gap: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-up-frame757 {
  gap: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-frame754 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-text22 {
  color: var(--dl-color-default-text2);
  height: auto;
  opacity: 0.40;
  text-align: left;
  line-height: 24px;
}
.sign-up-under-line1 {
  width: 370px;
  height: 0px;
  display: flex;
  opacity: 0.50;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-line11 {
  top: 0px;
  left: 0px;
  width: 370px;
  height: 1px;
  position: absolute;
}
.sign-up-frame755 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-text24 {
  color: var(--dl-color-default-text2);
  height: auto;
  opacity: 0.40;
  text-align: left;
  line-height: 24px;
}
.sign-up-under-line2 {
  width: 370px;
  height: 0px;
  display: flex;
  opacity: 0.50;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-line12 {
  top: 0px;
  left: 0px;
  width: 370px;
  height: 1px;
  position: absolute;
}
.sign-up-frame756 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-text26 {
  color: var(--dl-color-default-text2);
  height: auto;
  opacity: 0.40;
  text-align: left;
  line-height: 24px;
}
.sign-up-under-line3 {
  width: 370px;
  height: 0px;
  display: flex;
  opacity: 0.50;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-line13 {
  top: 0px;
  left: 0px;
  width: 370px;
  height: 1px;
  position: absolute;
}
.sign-up-frame752 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-button {
  gap: 10px;
  display: flex;
  padding: 16px 122px;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-default-button2);
}
.sign-up-text28 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sign-up-frame751 {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-up-google-s-ignup {
  gap: 10px;
  display: flex;
  padding: 16px 86px;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.4000000059604645);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
}
.sign-up-frame748 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.sign-up-icon-google {
  width: 24px;
  height: 24px;
}
.sign-up-text30 {
  color: var(--dl-color-default-text2);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sign-up-frame750 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.sign-up-text32 {
  color: var(--dl-color-default-text2);
  height: auto;
  opacity: 0.70;
  text-align: left;
  line-height: 24px;
}
.sign-up-frame749 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-text34 {
  color: var(--dl-color-default-text2);
  height: auto;
  opacity: 0.70;
  text-align: left;
  line-height: 24px;
}
.sign-up-under-line4 {
  width: 47px;
  height: 0px;
  display: flex;
  opacity: 0.50;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-line14 {
  top: 0px;
  left: 0px;
  width: 47px;
  height: 1px;
  position: absolute;
}
.sign-up-footer {
  top: 1121px;
  left: 0px;
  width: 1440px;
  height: 440px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-button);
}
.sign-up-frame643 {
  gap: 16px;
  top: 376px;
  left: 0px;
  width: 1440px;
  display: flex;
  opacity: 0.40;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.sign-up-under-line5 {
  width: 1440px;
  height: 0px;
  display: flex;
  opacity: 0.50;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-line15 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1px;
  opacity: 0.40;
  position: absolute;
}
.sign-up-frame67 {
  gap: 12px;
  display: flex;
  opacity: 0.60;
  align-items: center;
}
.sign-up-frame66 {
  gap: 6px;
  display: flex;
  align-items: center;
}
.sign-up-iconcopyright {
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-group {
  top: 1.6666666269302368px;
  left: 1.6666666269302368px;
  width: 16.66666603088379px;
  height: 16.66666603088379px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.sign-up-vector {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.sign-up-vector1 {
  top: 5px;
  left: 5px;
  width: 6px;
  height: 7px;
  position: absolute;
}
.sign-up-text36 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sign-up-frame743 {
  gap: 87px;
  top: 80px;
  left: 135px;
  width: 1170px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.sign-up-frame717 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-frame716 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-frame715 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-logo1 {
  width: 118px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-text38 {
  color: var(--dl-color-default-text);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.sign-up-text40 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 28px;
}
.sign-up-text42 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sign-up-send-mail {
  gap: 32px;
  width: 217px;
  display: flex;
  padding: 12px 0 12px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(249, 249, 249, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 4px;
}
.sign-up-text44 {
  color: var(--dl-color-default-text);
  height: auto;
  opacity: 0.40;
  text-align: left;
  line-height: 24px;
}
.sign-up-iconsend {
  width: 24px;
  height: 24px;
}
.sign-up-frame713 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-text46 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 28px;
}
.sign-up-frame712 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-text48 {
  color: var(--dl-color-default-text);
  width: 175px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sign-up-text50 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sign-up-text52 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sign-up-frame711 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-text54 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 28px;
}
.sign-up-frame710 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-text56 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sign-up-text58 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sign-up-text60 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sign-up-text62 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sign-up-text64 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sign-up-frame709 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-text66 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 28px;
}
.sign-up-frame708 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-text68 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sign-up-text70 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sign-up-text72 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sign-up-text74 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.sign-up-frame742 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-frame721 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-text76 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 28px;
}
.sign-up-frame720 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-text78 {
  color: var(--dl-color-default-text);
  height: auto;
  opacity: 0.70;
  text-align: left;
  line-height: 18px;
}
.sign-up-frame719 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.sign-up-qr-code {
  width: 80px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.sign-up-qrcode1 {
  top: 2px;
  left: 2px;
  width: 76px;
  height: 76px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2.5px;
}
.sign-up-frame718 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-google-play {
  width: 110px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(3, 4, 6, 1);
}
.sign-up-pngtransparentgoogleplaystorelogogoogleplayappstor {
  top: 5px;
  left: 3px;
  width: 104px;
  height: 30px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(249, 249, 249, 1);
  border-style: solid;
  border-width: 0.6000000238418579px;
  border-radius: 4px;
}
.sign-up-vector1 {
  top: 22.24468994140625px;
  left: 99.394287109375px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.sign-up-vector2 {
  top: 21.964569091796875px;
  left: 98.18799591064453px;
  width: 1px;
  height: 4px;
  position: absolute;
}
.sign-up-vector3 {
  top: 22.236570358276367px;
  left: 94.91254425048828px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.sign-up-vector4 {
  top: 22.70806121826172px;
  left: 98.3905258178711px;
  width: 1px;
  height: 2px;
  position: absolute;
}
.sign-up-app-store {
  width: 110px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.sign-up-downloadappstore {
  top: 3px;
  left: 3px;
  width: 104px;
  height: 34px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.6000000238418579px;
  border-radius: 4px;
}
.sign-up-frame741 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.sign-up-icon-facebook {
  width: 24px;
  height: 24px;
}
.sign-up-icon-twitter {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-group1 {
  top: 0px;
  left: -5px;
  width: 27.05900001525879px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.sign-up-vector2 {
  top: 4px;
  left: 7px;
  width: 20px;
  height: 17px;
  position: absolute;
}
.sign-up-iconinstagram {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-group2 {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.sign-up-vector3 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.sign-up-vector4 {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.sign-up-vector5 {
  top: 2.5px;
  left: 13.5px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.sign-up-icon-linkedin {
  width: 24px;
  height: 24px;
}
