.check-out-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.check-out-check-out {
  gap: 10px;
  width: 100%;
  height: 1795px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-color: var(--dl-color-default-bg);
}
.check-out-top-header {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-button);
}
.check-out-frame746 {
  gap: 231px;
  top: 12px;
  left: 445px;
  width: 859px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.check-out-frame555 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.check-out-text {
  color: var(--dl-color-default-text);
  width: 474px;
  height: auto;
  text-align: left;
  line-height: 21px;
}
.check-out-text002 {
  color: var(--dl-color-default-text);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: underline;
}
.check-out-frame549 {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-out-text004 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 21px;
}
.check-out-drop-down {
  width: 24px;
  height: 24px;
}
.check-out-header {
  gap: 130px;
  top: 88px;
  left: 135px;
  width: 1170px;
  display: flex;
  position: absolute;
  align-items: center;
}
.check-out-frame556 {
  gap: 160px;
  display: flex;
  align-items: flex-start;
}
.check-out-logo {
  width: 118px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-text006 {
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.check-out-frame554 {
  gap: 48px;
  display: flex;
  align-items: flex-start;
}
.check-out-header1 {
  width: 48px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-text008 {
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 24px;
}
.check-out-header2 {
  width: 66px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-text010 {
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 24px;
}
.check-out-header3 {
  width: 48px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-text012 {
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 24px;
}
.check-out-header4 {
  width: 61px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-text014 {
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 24px;
}
.check-out-frame552 {
  gap: 24px;
  display: flex;
  align-items: center;
}
.check-out-search-component-set {
  gap: 10px;
  display: flex;
  padding: 7px 12px 7px 20px;
  align-items: center;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-default-secondary);
}
.check-out-frame550 {
  gap: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-out-text016 {
  color: var(--dl-color-default-text2);
  height: auto;
  opacity: 0.50;
  text-align: left;
  line-height: 18px;
}
.check-out-component2 {
  width: 24px;
  height: 24px;
}
.check-out-frame551 {
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-out-wishlist {
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-vector {
  top: 7px;
  left: 6px;
  width: 20px;
  height: 18px;
  position: absolute;
}
.check-out-group1000005931 {
  top: 0px;
  left: 16px;
  width: 16px;
  height: 17px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.check-out-ellipse1 {
  top: 1px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.check-out-text018 {
  left: 4px;
  color: var(--dl-color-default-text);
  width: 7px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 18px;
}
.check-out-cart1withbuy {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-cart1 {
  top: 8px;
  left: 1px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.check-out-group10000059311 {
  top: 1px;
  left: 15px;
  width: 16px;
  height: 17px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.check-out-ellipse11 {
  top: 1px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.check-out-text019 {
  left: 5px;
  color: var(--dl-color-default-text);
  width: 7px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 18px;
}
.check-out-user {
  width: 32px;
  height: 32px;
}
.check-out-line3 {
  top: 142px;
  left: 0px;
  width: 1440px;
  height: 1.7053025658242404e-13px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-line31 {
  top: 0px;
  left: 1440px;
  width: 1440px;
  height: 1px;
  opacity: 0.30;
  position: absolute;
}
.check-out-roadmap {
  gap: 12px;
  top: 222px;
  left: 135px;
  width: 455px;
  display: flex;
  position: absolute;
  align-items: center;
}
.check-out-text020 {
  color: var(--dl-color-default-text2);
  height: auto;
  opacity: 0.50;
  text-align: left;
  line-height: 21px;
}
.check-out-line13 {
  width: 13px;
  height: 1px;
  opacity: 0.50;
}
.check-out-text022 {
  color: var(--dl-color-default-text2);
  height: auto;
  opacity: 0.50;
  text-align: left;
  line-height: 21px;
}
.check-out-line14 {
  width: 13px;
  height: 1px;
  opacity: 0.50;
}
.check-out-text024 {
  color: var(--dl-color-default-text2);
  height: auto;
  opacity: 0.50;
  text-align: left;
  line-height: 21px;
}
.check-out-line15 {
  width: 13px;
  height: 1px;
  opacity: 0.50;
}
.check-out-text026 {
  color: var(--dl-color-default-text2);
  height: auto;
  opacity: 0.50;
  text-align: left;
  line-height: 21px;
}
.check-out-line16 {
  width: 13px;
  height: 1px;
  opacity: 0.50;
}
.check-out-text028 {
  color: var(--dl-color-default-text2);
  height: auto;
  text-align: left;
  line-height: 21px;
}
.check-out-frame753 {
  gap: 24px;
  top: 323px;
  left: 135px;
  width: 252px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-text030 {
  color: var(--dl-color-default-text2);
  height: auto;
  text-align: left;
  line-height: 30px;
}
.check-out-frame830 {
  gap: 24px;
  top: 401px;
  left: 135px;
  width: 470px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-frame829 {
  gap: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-frame821 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-text032 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  opacity: 0.40;
  text-align: left;
  line-height: 24px;
}
.check-out-text033 {
  color: var(--dl-color-default-text2);
}
.check-out-frame803 {
  width: 470px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: var(--dl-color-default-secondary);
}
.check-out-frame822 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-text034 {
  color: var(--dl-color-default-text2);
  height: auto;
  opacity: 0.40;
  text-align: left;
  line-height: 24px;
}
.check-out-frame8031 {
  width: 470px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: var(--dl-color-default-secondary);
}
.check-out-frame823 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-text036 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  opacity: 0.40;
  text-align: left;
  line-height: 24px;
}
.check-out-text037 {
  color: var(--dl-color-default-text2);
}
.check-out-frame804 {
  width: 470px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: var(--dl-color-default-secondary);
}
.check-out-frame824 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-text038 {
  color: var(--dl-color-default-text2);
  height: auto;
  opacity: 0.40;
  text-align: left;
  line-height: 24px;
}
.check-out-frame805 {
  width: 470px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: var(--dl-color-default-secondary);
}
.check-out-frame825 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-text040 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  opacity: 0.40;
  text-align: left;
  line-height: 24px;
}
.check-out-text041 {
  color: var(--dl-color-default-text2);
}
.check-out-frame806 {
  width: 470px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: var(--dl-color-default-secondary);
}
.check-out-frame826 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-text042 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  opacity: 0.40;
  text-align: left;
  line-height: 24px;
}
.check-out-text043 {
  color: var(--dl-color-default-text2);
}
.check-out-frame807 {
  width: 470px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: var(--dl-color-default-secondary);
}
.check-out-frame827 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-text044 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  opacity: 0.40;
  text-align: left;
  line-height: 24px;
}
.check-out-text045 {
  color: var(--dl-color-default-text2);
}
.check-out-frame808 {
  width: 470px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: var(--dl-color-default-secondary);
}
.check-out-frame828 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.check-out-iconcheckbox {
  width: 24px;
  height: 24px;
}
.check-out-text046 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-footer {
  top: 1355px;
  left: 0px;
  width: 1440px;
  height: 440px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-button);
}
.check-out-frame643 {
  gap: 16px;
  top: 376px;
  left: 0px;
  width: 1440px;
  display: flex;
  opacity: 0.40;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.check-out-under-line {
  width: 1440px;
  height: 0px;
  display: flex;
  opacity: 0.50;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-line1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1px;
  opacity: 0.40;
  position: absolute;
}
.check-out-frame67 {
  gap: 12px;
  display: flex;
  opacity: 0.60;
  align-items: center;
}
.check-out-frame66 {
  gap: 6px;
  display: flex;
  align-items: center;
}
.check-out-iconcopyright {
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-group {
  top: 1.6666666269302368px;
  left: 1.6666666269302368px;
  width: 16.66666603088379px;
  height: 16.66666603088379px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.check-out-vector1 {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.check-out-vector2 {
  top: 5px;
  left: 5px;
  width: 6px;
  height: 7px;
  position: absolute;
}
.check-out-text048 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-frame743 {
  gap: 87px;
  top: 80px;
  left: 135px;
  width: 1170px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.check-out-frame717 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-frame716 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-frame715 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-logo1 {
  width: 118px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-text050 {
  color: var(--dl-color-default-text);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.check-out-text052 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 28px;
}
.check-out-text054 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-send-mail {
  gap: 32px;
  width: 217px;
  display: flex;
  padding: 12px 0 12px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(249, 249, 249, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 4px;
}
.check-out-text056 {
  color: var(--dl-color-default-text);
  height: auto;
  opacity: 0.40;
  text-align: left;
  line-height: 24px;
}
.check-out-iconsend {
  width: 24px;
  height: 24px;
}
.check-out-frame713 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-text058 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 28px;
}
.check-out-frame712 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-text060 {
  color: var(--dl-color-default-text);
  width: 175px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-text062 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-text064 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-frame711 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-text066 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 28px;
}
.check-out-frame710 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-text068 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-text070 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-text072 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-text074 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-text076 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-frame709 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-text078 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 28px;
}
.check-out-frame708 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-text080 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-text082 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-text084 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-text086 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-frame742 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-frame721 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-text088 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 28px;
}
.check-out-frame720 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-text090 {
  color: var(--dl-color-default-text);
  height: auto;
  opacity: 0.70;
  text-align: left;
  line-height: 18px;
}
.check-out-frame719 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.check-out-qr-code {
  width: 80px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.check-out-qrcode1 {
  top: 2px;
  left: 2px;
  width: 76px;
  height: 76px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2.5px;
}
.check-out-frame718 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-google-play {
  width: 110px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(3, 4, 6, 1);
}
.check-out-pngtransparentgoogleplaystorelogogoogleplayappstor {
  top: 5px;
  left: 3px;
  width: 104px;
  height: 30px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(249, 249, 249, 1);
  border-style: solid;
  border-width: 0.6000000238418579px;
  border-radius: 4px;
}
.check-out-vector1 {
  top: 22.24468994140625px;
  left: 99.394287109375px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.check-out-vector2 {
  top: 21.964569091796875px;
  left: 98.18799591064453px;
  width: 1px;
  height: 4px;
  position: absolute;
}
.check-out-vector3 {
  top: 22.236570358276367px;
  left: 94.91254425048828px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.check-out-vector4 {
  top: 22.70806121826172px;
  left: 98.3905258178711px;
  width: 1px;
  height: 2px;
  position: absolute;
}
.check-out-app-store {
  width: 110px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.check-out-downloadappstore {
  top: 3px;
  left: 3px;
  width: 104px;
  height: 34px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.6000000238418579px;
  border-radius: 4px;
}
.check-out-frame741 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.check-out-icon-facebook {
  width: 24px;
  height: 24px;
}
.check-out-icon-twitter {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-group1 {
  top: 0px;
  left: -5px;
  width: 27.05900001525879px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.check-out-vector3 {
  top: 4px;
  left: 7px;
  width: 20px;
  height: 17px;
  position: absolute;
}
.check-out-iconinstagram {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-group2 {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.check-out-vector4 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.check-out-vector5 {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.check-out-vector6 {
  top: 2.5px;
  left: 13.5px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.check-out-icon-linkedin {
  width: 24px;
  height: 24px;
}
.check-out-frame836 {
  gap: 32px;
  top: 433px;
  left: 778px;
  width: 527px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-frame813 {
  gap: 32px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.check-out-frame812 {
  gap: 24px;
  display: flex;
  align-items: center;
}
.check-out-gamepad-cart-small {
  width: 54px;
  height: 54px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-g922500x5001 {
  top: 6px;
  left: 3px;
  width: 49px;
  height: 42px;
  position: absolute;
}
.check-out-frame809 {
  gap: 210px;
  display: flex;
  align-items: center;
}
.check-out-text092 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-text094 {
  color: var(--dl-color-default-text2);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-frame811 {
  gap: 20px;
  display: flex;
  align-items: center;
}
.check-out-monitor-cart-small {
  width: 54px;
  height: 54px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-g27cq4500x5001 {
  top: 8px;
  left: 2px;
  width: 50px;
  height: 39px;
  position: absolute;
}
.check-out-frame810 {
  gap: 204px;
  display: flex;
  align-items: center;
}
.check-out-text096 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-text098 {
  color: var(--dl-color-default-text2);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-frame817 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-frame816 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-frame815 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-frame814 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-out-frame796 {
  gap: 307px;
  display: flex;
  align-items: flex-start;
}
.check-out-text100 {
  color: var(--dl-color-default-text2);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-text102 {
  color: var(--dl-color-default-text2);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-under-line1 {
  width: 422px;
  height: 0px;
  display: flex;
  opacity: 0.40;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-line11 {
  top: 0px;
  left: 0px;
  width: 422px;
  height: 1px;
  position: absolute;
}
.check-out-frame795 {
  gap: 314px;
  display: flex;
  align-items: flex-start;
}
.check-out-text104 {
  color: var(--dl-color-default-text2);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-text106 {
  color: var(--dl-color-default-text2);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-under-line2 {
  width: 422px;
  height: 0px;
  display: flex;
  opacity: 0.40;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-line12 {
  top: 0px;
  left: 0px;
  width: 422px;
  height: 1px;
  position: absolute;
}
.check-out-frame794 {
  gap: 335px;
  display: flex;
  align-items: flex-start;
}
.check-out-text108 {
  color: var(--dl-color-default-text2);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-text110 {
  color: var(--dl-color-default-text2);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-frame835 {
  gap: 155px;
  display: flex;
  align-items: center;
}
.check-out-frame818 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.check-out-radio-button {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-ellipse28 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1.5px;
}
.check-out-text112 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-frame834 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.check-out-bkash {
  width: 42px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-image32 {
  top: 5.599999904632568px;
  left: 2.0999999046325684px;
  width: 38px;
  height: 17px;
  position: absolute;
}
.check-out-visa {
  width: 42px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-image30 {
  top: 8.399999618530273px;
  left: 2.0999999046325684px;
  width: 38px;
  height: 11px;
  position: absolute;
}
.check-out-mastercard {
  width: 42px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-image31 {
  top: 1.399999976158142px;
  left: 1.399999976158142px;
  width: 39px;
  height: 25px;
  position: absolute;
}
.check-out-nagad {
  width: 42px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-image33 {
  top: 4.900000095367432px;
  left: 1.399999976158142px;
  width: 39px;
  height: 18px;
  position: absolute;
}
.check-out-frame819 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.check-out-radio-button1 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.check-out-ellipse281 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1.5px;
}
.check-out-ellipse29 {
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.check-out-text114 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-coupon-code {
  gap: 16px;
  display: flex;
  align-items: flex-end;
}
.check-out-frame798 {
  width: 300px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.check-out-text116 {
  top: 16px;
  left: 24px;
  color: var(--dl-color-default-text2);
  height: auto;
  opacity: 0.50;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.check-out-button {
  gap: 10px;
  display: flex;
  padding: 16px 48px;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-default-button2);
}
.check-out-text118 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.check-out-button1 {
  gap: 10px;
  display: flex;
  padding: 16px 48px;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-default-button2);
}
.check-out-text120 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 24px;
}
